/*COMMON TO ALL PAGES*/
body{
	background-color: white;
	padding: 0;
	margin: 0;
}

.noScroll{
  overflow: hidden;
}

div#container{
	display: block;
	margin-top: 6em;
	padding: 5%;
}

	div#header{
		width: 90%;
		position: fixed;
		box-shadow: 1px 1px 10px grey;
		padding: 1% 5%;
		top: 0;
		/*background-color: white;*/
		background-image: url("../assets/dots.png");
		background-repeat: repeat;
		z-index: 2;
	}

			/*h1 font*/
			@font-face {
				font-family: 'Handsome Light';
				src: url('fonts/handsomelight.ttf') format('truetype');
			}

			h1{
				display: inline-block;
				color: #292927;
				font-family: 'Handsome Light', Arial, sans-serif;
				font-size: 3em;
				text-align: center;
				margin: 0 .5em 0 0;
				width: 100%;
			}

		nav{
			padding-bottom: .8em;
		}

			nav ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				nav ul li{
					display: inline-block;
					font-family: "Cicero Sans Negrita", sans-serif;
					float: left;
					padding: 0 1em 0 0;
					font-size: 1em;
					color: #0892B1; 		/*turquoise*/
					cursor: pointer;
				}

					nav ul li a, nav ul li a i{
						text-decoration: none;
						color: #0892B1;
					}

					nav ul li:last-child{
						padding-right: 0;
					}

					nav ul li:hover{
						text-decoration: underline;
					}

		@font-face {
			font-family: 'Cicero Sans Negrita';
			src: url('fonts/Cicero Sans Negrita.ttf') format('truetype');
		}

		@font-face {
			font-family: 'Calling Cards';
			src: url('fonts/CallingCards.ttf') format('truetype');
		}

		h2{
			font-family: "Cicero Sans Negrita", sans-serif;
			margin: 0;
			color: #595959;
		}

		h3{
			font-family: "Cicero Sans Negrita", sans-serif;
			color: #595959;
		}

		h4{
			font-family: "Cicero Sans Negrita", sans-serif;
			color: #595959;
			margin: 1% 0;
		}

		p{
			font-family: "Cicero Sans Negrita", sans-serif;
			font-size: 14pt;
			padding: 0 0 .2em;
			margin: 0;
		}

		div.aboutText p{
			padding: 0 0 .5em;
		}

		section{
			display: inline-block;
			margin-bottom: 5%;
		}

		section.role {
		    clear: both;
		    display: inline-block;
				border: 2px lightgray solid;
		    padding: 5%;
		    border-radius: 25px;
		}

		section.role:last-child {
		    margin-bottom: 0;
		}

			section.role h3{
				font-size: 2em;
				margin: 0 0 1%;
				text-align: center;
			}

			section.role h4{
				font-size: 1.3em;
			}

			section.role img {
					width: 80%;
					margin: auto;
					display: block;
			}

			section.role p.seeMore {
			    color: #0892B1;
			    margin-top: 2%;
			    cursor: pointer;
			}

				section.role p.seeMore:hover {
				    text-decoration: underline;
				}

			section.role div.moreRole {
			    background-color: #e4e8e9;
			    clear: both;
			    padding: 5%;
			    margin: 5% -5% -5%;
					display: none; /*should be inline-block when displayed*/
			    border-radius: 0 0 25px 25px;
					width: 100%;
			}

			section.role div.moreRole h4 {
			    margin: 0 0 1%;
			}

			section.role div.moreRole ul {
			    margin: 0;
			    padding-left: 5%;
			    font-family: "Cicero Sans Negrita", sans-serif;
			}

				section.role div.moreRole li {
				    padding-bottom: .5%;
				}

					section.role div.moreRole li:last-child {
					    padding-bottom: 0;
					}

		div.myLightbox{
			position: fixed;
			background-color: white;
			width: 90%;
			margin: auto;
			padding: 2%;
			overflow-y: scroll;
			z-index: 4;
		}

		div.hide{
			display: none;
		}

	footer{
		font-family: "Cicero Sans Negrita", sans-serif;
		font-size: .8em;
		clear: both;
		padding-top: 2%;
		color: #595959;
	}

	div#portraitContainer{
		display: block;
		width: 244px;
    height: 282px;
		margin: 0 auto 2% auto;
	}

	div#portraits{
		position: relative;
		margin: 0 auto;
	}

		div#portraits img{
			position: absolute;
			left: 0;
			width: 100%;
			cursor: pointer;
		}

		div#portraits img#topPortrait{
			display: none
		}

	div#pptInfo img{
		float: none;
		padding: 0 2% 2% 0;
		width: 100%;
	}

	/*PROJECTS*/
	a.webProjLink:hover img, img.projPic:hover{
		opacity: 0.6;
		cursor: pointer;
	}

	img.projPic{
		float: left;
		width: 100%;
		margin: 5% 0 0 0;
	}

		img.projPic.lastInRow{
			margin-right: 0;
		}

	div.featherlight-content {
    background-color: #DFCFB4 !important;
	}

		div.dirLightbox div.featherlight-content{
			width: 25%;
		}

			div.dirLightbox div.featherlight-content p{
				text-indent: 0;
				text-decoration: underline;
			}

			div.dirLightbox div.featherlight-content ol{
				color: #5C393E;		/*"van cleef" dark purple*/
				font-family: "Calling Cards", sans-serif;
				padding: 0;
				margin: 0 0 0 4%;
			}

		div.projImgDiv img.rArrow, div.projImgDiv img.lArrow{
			float: left;
			width: 3%;
			margin: 0% 2%;
			cursor: pointer;
		}

		div.projImgDiv p.numOfImg{
			font-size: 10pt;
			text-indent: 0;
			display: block;
			clear: both;
			text-align: center;
		}

			div.myLightbox img.projDetailsImg{
				float: left;
				margin: 0 0 2% 0;
				width: 100%;
				border: 1px lightgray solid;
			}

			div#walters div.projImgDiv{
				width: 80%;
				margin: auto;
			}

				div#walters div.projImgDiv img.projDetailsImg{
					width: 79%;	/*was 80% before border*/
				}

				div#walters div.projImgDiv img.rArrow, div#walters div.projImgDiv img.lArrow{
					width: 4%;
					margin: 0% 3%;
				}

		div#winForm div.projImgDiv img.projDetailsImg, div#loudSensor div.projImgDiv img.projDetailsImg{
			width: 85%;	/*was 86% before border*/
		}

		div.projDescript{
			display: block;
			float: left;
			width: 100%;
			padding-left:2%;
		}

			div#walters div.projDescript{
				width: 100%;
			}

			div.projDescript h3{
				margin: 0 0 2%;
			}

			div.projDescript h4{
				text-indent: 0;
				margin: 2% 0 0;
			}

			div.projDescript p.projSkills{
				text-indent: 0;
			}

			div.projDescript button{
				background-color: #0892B1; /*nav bar blue*/
				color: white;
				font-family: "Calling Cards", sans-serif;
				font-size: 1.1em;
				border-radius: 5px;
				padding: 4px 5px 1px;
			}

				div.projDescript button:hover{
					cursor: pointer;
				}

	div#darkBack{
	  position:fixed;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background-color: black;
	  opacity: .8;
	  text-align:center;
		cursor: pointer;
		z-index: 3;
	}

	.hide{
		display: none;
	}

	div h4#closeIcon{
		position: fixed;
		font-size: 2em;
		margin: 0;
		padding: 5px;
		cursor: pointer;
	}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 300PX------------------------------------------------------------------*/
@media screen and (min-width: 300px){

	img.projPic{
		width: 49%;
		margin: 2% 2% 0 0;
	}
}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 500PX------------------------------------------------------------------*/
@media screen and (min-width: 500px){

	h1{
		font-size: 3.5em;
	}

	nav ul li{
		font-size: 1.2em;
	}

	div#container{
		padding: 2%;
	}

	div#portraitContainer{
		float: left;
		margin: 0 2% 0 0;
	}

	section{
		margin-bottom: 2%;
	}

	section.role {
			padding: 2%;
	}

	section.role h3{
		text-align: left;
	}

	section.role div.moreRole {
			padding: 2%;
			margin: 2% -2% -2%;
	}

		section.role div.moreRole ul {
				padding-left: 2%;
		}

	section.role img {
		width: 50%;
		float: left;
		margin-right: 1.5em;
	}

	img.projPic{
		width: 32%;
	}

	div#winForm div.projImgDiv{
		float: left;
		width: 54%;
	}

		div#winForm div.projImgDiv img.projDetailsImg{
			float: left;
		}

	div#winForm div.projDescript{
		float: left;
		width: 44%;
	}

	div#walters div.projImgDiv{
		float: left;
		width: 40%;
	}

	div#walters div.projDescript{
		width: 58%;
	}

}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 750PX------------------------------------------------------------------*/
@media screen and (min-width: 750px){

	div#header{
		width: 80%;
		padding: 1% 10%;
	}

	h1{
		text-align: left;
		width: auto;
	}

	nav ul li{
		padding: 0 1em 0 0;
		font-size: 1.5em;
	}

	div#container{
		width: 90%;
		margin: 6em auto 0;
	}

	section.role img {
		width: 30%;
	}

	div.myLightbox{
		width: 90%;
	}

		div#pptInfo img{
			float: left;
			padding: 0 2% 0 0;
			width: 50%;
		}

		div#pptInfo h3{
			margin-top: 0;
		}

		div#winForm{
			width: 60%;
		}

		div#walters{
			width: 60%;
		}

		div.myLightbox div.projImgDiv{
			float: left;
			width: 48%;
		}

		div.myLightbox img.projDetailsImg{
			margin: 0;
		}

		div.projDescript{
			display: block;
			float: left;
			width: 50%;
		}

}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 1000PX------------------------------------------------------------------*/
@media screen and (min-width: 1000px){

	div#container{
		width: 80%;
	}

	div#walters{
		width: 50%;
	}

}
