/*Cynthia Zachar
  Personal Website
  January 2016*/

/*COMMON TO ALL PAGES*/
body{
	background-color: #813223;		/*"Burnt Umber" - red-brown*/
	padding: 0;
	margin: 1%;
}

div#container{
	display: block;
}

	div#header{
		display: block;
	}

		div#banner{
			background-color: #523611;		/*brown*/
			border-radius: 25px 25px 0 0;
		}

			/*h1 font*/
			@font-face {
				font-family: 'Handsome Light';
				src: url('handsomelight.ttf') format('truetype');
			}

			h1{
				color: #F2A540;		/*orange: rgb(242,165,64)*/
				font-family: 'Handsome Light', Arial, sans-serif;
				font-size: 3.5em;
				text-align: center;
				padding: 1% 0;
				margin: 0;
			}

		nav{
			display: inline-block;
			background-color: #0892B1; 		/*turquoise*/
			width: 100%;
			box-shadow: 0 2px 2px gray;
		}

			nav ul{
				display: inline;
				list-style-type: none;
				margin: 0;
			}

				nav ul li{
					font-family: "Cicero Sans Negrita", sans-serif;
					float: left;
					padding: .5% 2%;
					border-right: 2px solid #176D8A;	/*dark turquoise*/
					border-bottom: 2px solid #0892B1; 	/*turquoise*/
				}

					nav ul li a{
						color: white;
						background-color: #0892B1; 		/*turquoise*/
						text-decoration: none;
						font-weight: bold;
					}

					nav ul li:hover a{
						background-color: #176D8A;			/*dark turquoise*/
					}

					nav ul li:hover{
						background-color: #176D8A;			/*dark turquoise*/
						border-right: 2px solid #15657F;	/*darkest turquoise*/
						border-bottom: 2px solid #15657F;	/*darkest turquoise*/
						cursor: pointer;
					}

					nav ul li#curPage{
						/*TO DO: something to indicate current page in nav*/
					}
	#content{
		display: block;
		background-color: #DFCFB4; /*tan*/
		border-radius: 0 0 25px 25px;
		padding: 2%;
	}

		@font-face {
			font-family: 'Cicero Sans Negrita';
			src: url('Cicero Sans Negrita.ttf') format('truetype');
		}

		@font-face {
			font-family: 'Calling Cards';
			src: url('CallingCards.ttf') format('truetype');
		}

		h2{
			font-family: "Calling Cards", sans-serif;
			text-align: center;
			margin: 0;
		}

		h3{
			font-family: "Calling Cards", sans-serif;
		}

		h4{
			font-family: "Calling Cards", sans-serif;
			text-indent: 1em;
		}

		p{
			color: #5C393E;		/*"van cleef" dark purple*/
			font-family: "Calling Cards", sans-serif;
			font-size: 14pt;
			text-indent: 2em;
			padding: 0 0 .2em;
			margin: 0;
		}

	footer{
		font-size: .8em;
		clear: both;
		padding-top: 2%;
	}

	/*HOME*/
	img#portrait{
			display: block;
			width: 70%;
			max-width: 250px;
			margin: 0 auto 2% auto;
		}

	p#inProgress{
		color: #523611;
		background-color: white;
		text-indent: 0;
		padding: .5%;
		margin: -2% -2% 2% -2%;
	}

	a.outsideInfo, a.outsideInfo:visited{
		color: #607D7D;		/*dark turquoise*/
		text-decoration: none;
	}

	a.outsideInfo:hover{
		text-decoration: underline;
	}

	div#rightNow h3{
		margin: 2em 0 .5em;
	}

	/*PROJECTS*/
	a.webProjLink:hover img{
		opacity: 0.6;
	}

	div.project{
		display: inline-block;
		clear: both;
		margin-bottom: 3%;
	}

	div.project img{
		width: 100%;
		max-width: 576px;
	}

	div.project h3{
		margin: 1% 0 1% 0;
		text-align: center;
	}

	/*SKILLS*/
	div.skills h3{
		cursor: pointer;
		margin-bottom: .25em;
	}

	div.skills p{
		display: none;
		margin-left: 1em;
		text-indent: 0;
	}

	div#futureSkills{
		display: inline-block;
		background-color: white;
		border: 3px solid #607D7D;
		border-radius: 10px;
		padding: 1%;
		margin-top: 4%;
	}

		div#futureSkills h3{
			text-align: center;
			margin: 0 0 1% 0;
		}

		div#futureSkills p{
			font-size: 12pt;
			text-indent: 0;
			text-align: center;
		}

		div#futureSkills ul{
			width: 70%;
			margin: 1% 13% 0 17%;
		}

			div#futureSkills li{
				float: left;
				font-family: "Calling Cards", sans-serif;
				font-size: 12pt;
				font-weight: bold;
				width: 45%;
				margin-bottom: 1%;
			}
/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 500PX------------------------------------------------------------------*/
@media screen and (min-width: 500px){

	img#portrait{
		float: left;
		width: 45%;
		margin-right: 2%;
	}

	div.project img{
		display: block;
		width: 90%;
		margin: 2% auto 1%;
	}
}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 750PX------------------------------------------------------------------*/
@media screen and (min-width: 750px){

	div#container{
		width: 90%;
		margin: auto;
	}

	div.project img{
		float: left;
		width: 45%;
		max-width: 576px;
		padding-right: 2%;
		margin: 0;
	}

	div.project h3{
		text-align: left;
		margin: 0 0 1% 0;
	}
}

/*-------------------------------------------------MEDIA QUERY: MIN-WIDTH 1000PX------------------------------------------------------------------*/
@media screen and (min-width: 1000px){

	div#container{
		width: 80%;
	}

	div#projects img{
		float: left;
		border: 5px solid #706A2F;
		border-radius: 5px;
	}

	div#projects div{
		display: block;
		clear: both;
	}

}
