body{
  background-color: #E9E9E9;
	padding: 0;
	margin: 1%;
}

div#container{
  width: 80%;
  margin: auto;
}

#banner{
  background-color: #001024;
  border-radius: 5px 5px 0 0;
}

h1{
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 1% 0;
  margin: 0;
}

#content{
  background-color: white;
  display: block;
  padding: 2%;
  border-radius: 0 0 5px 5px;
}

h2{
  color: #88062A;
  clear: both;
}

p, li{
  color: #313433;
  font-family: sans-serif;
}

div#scope img{
  border: 2px solid #002A5C;
  border-radius: 5px;
  padding: 1%;
  margin-top: 1%;
}

a{
  color: #002552;
}

div.stakeholder{
  background-color: #E8FFFF;
  width: 50%;
  padding: 1%;
  margin: 0 0 2% 1%;
  border-radius: 5px;
}

  div.stakeholder h3{
    color: #234976;
    margin: 0 0 1% 0;
  }

  div.groupIncludes{
    margin-bottom: 1em;

  }

    div.groupIncludes ul, p{
      margin: 0;
    }

div#lowFiEval p{
  text-indent: 3em;
}

img#lowFi, img#hiFi{
  width: 60%;
}

  img#hiFi:hover{
    opacity: 0.6;
  }

div.task{
  margin-bottom: 3em;
  border: 1px solid #979A99;
  border-radius: 8px;
}

  div.task h3{
    margin: .5em .5em 0;
  }

  div.task ul{
    margin: .5em;
  }

  p.taskStmt{
    display: block;
    color: #979A99;
    font-weight: bold;
    background-color: #E4E7E6;
    padding: .5em;
    border-radius: 8px 8px 0 0;
  }

.bold{
  font-weight: bold;
}

footer{
  font-size: .8em;
  clear: both;
  padding-top: 2%;
}

  nav ul{
    list-style-type: none;
    padding: 0;
  }

    nav ul li{
      display: inline;
      float: left;
      padding-right: 2%;
    }
