/*Header style*/
header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: baseline;
}

  header h1 {
      margin: 0;
  }

  header nav {
      width: 50%;
  }

    header nav ul {
        display: inline-flex;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        font-weight: bold;
    }

      header nav ul a {
          display: inline-block;
      }

      header nav ul li {
          float: left;
          list-style-type: none;
      }

  /*Common to all pgs*/
  body {
      margin: 0;
  }

  div#content {
      width: 60%;
      margin: auto;
  }

  div#content h2 {
      text-align: center;
  }

  div#content input{
      width: 100%;
      margin-bottom: 1%;
      resize: vertical;
  }

  div#content textarea {
      width: 100%;
      margin-bottom: 1%;
      resize: vertical;
  }

/*poiList/historicList style*/
div.listRow {
    width: 100%;
    clear: both;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 2%;
}

div.listRow p {
    float: left;
    margin: 0;
}

/*editPoi/editHistoric style*/
div#formControls input[type="submit"], div#formControls button {
    width: auto;
    margin: 2% 2% 2% 0;
}

div#poiImgs img, div#historicImgs img {
    max-height: 175px;
    margin: 0 2% 2% 0;
}

div#poiCoordsMap {
    width: 100%;
    height: 500px;
}

/*Override textext styling*/
form div.text-core div.text-wrap {
    width: 100% !important;
}

form div.text-core div.text-wrap textarea#tags {
    width: 100% !important;
    padding-top: 0 !important;
}

/*Edit tour styling*/
div#listHeaders h3 {
    float: left;
    display: block;
    width: 49.5%;
    margin: 0 0 1% 0;
}

div#listHeaders h3:first-child {
    margin-right: 1%;
}

button#saveTour{
    display: block;
    clear: both;
}

.dsl-panel {
    margin-bottom: 1%;
}
